<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>
        .formulario{
            border-width: 2px;
            border-color: blue;
            border-style: solid;

        }


    </style>
</head>
<body>
    <form class="formulario" action="/edad/" method="GET">
        <label> Nombre: </label>
        <input type="text" placeholder="Nombre" name="name1">
        <br>
        <br>
        <label> edad: </label>
        <input type="text" placeholder="Edad" name="edad1">
        <br>
        <input type="submit" name="Enviar">


    </form>
    
</body>
</html>