<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        div{
            background-color:silver;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de sesion</title>
</head>
<body>
    <div>
        <form action="/Respuesta/" method="GET">
            <label> Uusuario: </label>
            <input type="text" name="username" placeholder="Usuario">
            <br>
            <label> Contraseña </label>
            <input type="password" name="userpassword" placeholder="Contraseña">
            <br>
            <input type="submit" value="Iniciar Sesion">

        </form>


    </div>

    <div>
        <form>
            <label> correo</label>
            <input type="email">
            <textarea cols="30" rows="30"></textarea>

        </form>

    </div>
    
</body>
</html>