<html>
    <head>
    <title>Mi primera pagina</title>
    
    <body>
    <h1 style="color: red ;"> 
        esta es mi primera plantilla
    </h1>
    <p1> El nombre de la persona es: {{nombre_persona}},
        mi apellido es:  {{apellido_persona}} </p1>
    <p2> mi curso es: {{curso1}}, mi universidad es {{universidad1}}</p2>
    <p> mi lista: {{listas}} </p>
    <p> Acceder a el elemento views a traves de su indice: {{listas.1}}</p>
    <p>para acceder a los elementos de la lista es con un punto y el indice. "lista.1"</p>
    <p><strong> Elementos en la lista: </strong></p>
    <p> 
        {% if "Django" in listas %}
        <p> Si existe en la lista </p>
        {% for i in listas %}
        <li>{{i}} </li> 

        {% endfor %}
        {% else %}
            <p><strong>el elemento no existe en la lista</strong> </p>
        {% endif %}
    </p>
    <p>
        {% comment %} 
        este es un
        comentario multilinea 
        en una plantilla 
        {% endcomment %}
      </p>
      
    </body>
    </html> 
    